#services{
    /* margin-top: 20px; */
   
    /* color: white; */
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: whitesmoke;
}



#services > div {
    padding-top: 30px;
    text-align: center;
    /* color: red */
}

#services span{
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 30px;
    /* text-align: center; */
}

#services p{
    font-size: 23px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#services h1{
    text-align: center;
    padding-top: 20px;
    margin-bottom: -30px;
    color: black;
}

.low {
    padding-left: 10px;
    font-size: 20px ;
}

#divide{
    border-bottom: 1px solid black;
    margin-top: 30px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 10px;
}


@media (max-width: 490px){
    #services span{
        margin-bottom: 30px;
        font-weight: 600;
        font-size: 25px;
        /* text-align: center; */
    }

    #services p{
        font-size: 18px;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 490px){
    #services h1{
        font-size: 25px;
    }

    #services span{
        margin-bottom: 30px;
        font-weight: 600;
        font-size: 22px;
        /* text-align: center; */
    }

    
    #services p{
        font-size: 18px;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
